
@{
    ViewData["Title"] = "Success";
}

<style>
    body {
        background-color: #212529;
        color: white;
        font-family: Arial, sans-serif;
    }

    .message {
         display:flex;
         justify-content: center;
    } </style>

<div class = "message"><h1>Success</h1>
<br /><br /></div>
    <div class = "message"><p > You have successfully logged in!</p > </div >

